<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro De consulta</title>
</head>
<body>
    
    <h1>Cadastrar medicos</h1>
    <form th:action="@{/consultas/salvar}" method="POST" th:object="${consulta}">

        <label for="idConsulta">ID:</label>
        <input type="text" name="idConsulta" th:field="*{idConsulta}" readonly>
        <br />
        <label for="observacoes">observações:</label>
        <input type="text" name="observacoes" th:field="*{observacoes}">
        <br />
        <label for="datahoraConsulta">Data e Hora da Consulta:</label>
        <input type="datetime-local" name="datahoraConsulta" th:field="*{datahoraConsulta}">
        <br />
    
        <label for="idMedico"></label>
        <select th:field="*{medico}">
            <option value=" " disabled selected>Selecione o medico</option>
            <option th:each="medico: ${medicos}"
               th:text="${medico.nomeMedico}"
               th:value="${medico.idMedico}">
            </option>
        </select>
        <input type="submit" name="enviar" value="Enviar">
        <br />
</form>
</body>
</html>