<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro De Clientes</title>
</head>
<body>

    <h1>Cadastrar Clientes</h1>
    <form th:action="@{/clientes/salvar}" method="POST" th:object="${cliente}">


        <label for="nomeCliente">Nome:</label>
        <input type="text" name="nomeCliente" th:field="*{nomeCliente}">
        <br />

        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" th:field="*{cpf}">
        <br />
        <label for="telefone">Telefone:</label>
        <input type="text" name="telefone" th:field="*{telefone}">
        <br />
        <label for="cep">Cep: </label>
        <input type="text" name="cep" th:field="*{cep}">
        <button type="button" onclick="buscarCep()">Buscar</button>
        <br />  
        <label for="endereco">Endereço:</label>
        <input type="text" name="endereco" th:field="*{endereco}">
        <br />
        <label for="bairro">Bairro:</label>
        <input type="text" name="bairro" th:field="*{bairro}">
        <br />
        <label for="estadoCidade">Cidade e Estado:</label>
        <input type="text" name="estadoCidade" th:field="*{estadoCidade}">
        <br />
        <label for="numero">Número:</label>
        <input type="text" name="numero" th:field="*{numero}">
        <br />
        <label for="complemento">Complemento:</label>
        <input type="text" name="complemento" th:field="*{complemento}">
        <br />
        <label for="telefone">Telefone:</label>
        <input type="text" name="telefone" th:field="*{telefone}">
        <br />

        <input type="submit" name="enviar" value="Enviar">
        <br />
</form>

<script th:src="@{/js/script.js}"></script>
</body>
</html>