<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro De Clientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>

    <div class="shadow p-3 my-5 bg-body-terciary roudend container-md col-8">
        <div class="align-item-center">
        <h1 class="text-center" >Cadastrar Clientes</h1>

        <form th:action="@{/clientes/salvar}" method="POST" th:object="${cliente}">
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        
                    <label for="nomeCliente"></label>
                    <input type="text" class="form-control border-bottom roudend-0 border-0 fs-5" name="nomeCliente"
                        th:field="*{nomeCliente}" placeholder="Nome:">
                    <br />
                    </div>
<div class="col-6">
                    <label for="cpf"></label>
                    <input type="text" class="form-control border-bottom roudend-0 border-0 fs-5" name="cpf"
                        th:field="*{cpf}" placeholder="Cpf:">
                    <br />
</div>
<div class="my-3">
                    <label for="telefone"></label>
                    <input type="text" class="form-control border-bottom roudend-0 border-0 fs-5" name="telefone"
                        th:field="*{telefone}" placeholder="Telefone:">
                    <br />
</div>

<div class="row align-items-end">
<div class="col-8">
                    <label for="cep"></label>
                    <input id="cep" class="form-control border-bottom roudend-0 border-0 fs-5" type="text" name="cep"
                        th:field="*{cep}" placeholder="Cep:">
                    </div>
<div class="col-4 align-items-end">
                    <button type="button"  class="btn btn-primary" onclick="buscarCep()">Buscar</button>
                </div>
                    <br />

</div>
<div class="col-6">
                    <label for="endereco"></label>
                    <input id="logradouro" class="form-control border-bottom roudend-0 border-0 fs-5" type="text"
                        name="endereco" th:field="*{endereco}" placeholder="Endereço:">
                    <br />
</div>
                    <div class="col-3">
                    <label for="bairro"></label>
                    <input id="bairro" class="form-control border-bottom roudend-0 border-0 fs-5" type="text"
                        name="bairro" th:field="*{bairro}" placeholder="Bairro:">
                    <br />
                </div>
                <div class="col-3">
                    <label for="numero"></label>
                    <input id="numero" class="form-control border-bottom roudend-0 border-0 fs-5" type="text"
                        name="numero" th:field="*{numero}" placeholder="Número:">
            </br>
        </div>

        <div class="my-3">
                    <label for="estadoCidade"></label>
                    <input id="estadoCidade" class="form-control border-bottom roudend-0 border-0 fs-5" type="text"
                        name="estadoCidade" th:field="*{estadoCidade}" placeholder="Cidade e Estado">
                    <br />
        </div>
        <div class="my-4">
                    <label for="complemento"></label>
                    <input id="complemento" class="form-control border-bottom roudend-0 border-0 fs-5" type="text"
                        name="complemento" th:field="*{complemento}" placeholder="Complemtento do Endereço:">
                    <br />
        </div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Confirmar
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Deseja continuar com o envio de seus dados?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Se tem certeza que os seus dados estão corretos aperte <strong>Sim</strong>, Se deseja rever os seus dados aperte <strong>Não</strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
          <input type="submit" name="enviar" value="Sim">
        </div>
      </div>
    </div>
  </div>

                    <h3 align="center"> <a href="/agendamento" > Voltar</a></h3>
                </div>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>