

table{
border-collapse: collapse;
      margin: 40px auto;
      width: 90%;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.2rem;
      background-color: #fff;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      text-align: center;

}

