body {
    font-family: 'Consolas', serif;
    background: #f3efef;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #fff;
}

h1 {
    font-size: 3rem;
    margin: 20px 0;
    color: #C00000;
    text-align: center;
}

.container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 300px;
    margin-bottom: 40px;
    cursor: pointer;
    overflow: hidden;
}

.card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.card .face.face1 {
    background: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(100px);
}

.card:hover .face.face1 {
    background: #d42c2c;
    transform: translateY(0);
}

.card .face.face1 img {
    max-width: 100px;
}

.card .face.face1 h3 {
    margin-top: 10px;
    color: #fff;
}

.card .face.face2 {
    background: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.card:hover .face.face2 {
    transform: translateY(0);
}

.card .face.face2 a {
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #333;
    padding: 5px 10px;
    color: #333;
}

.card .face.face2 a:hover {
    background: #333;
    color: #fff;
}

footer {
    margin-top: auto;
    background: #eee;
    color: #000;
    padding: 15px;
    text-align: center;
    width: 100%;
    border-top: 2px solid #C00000;
}