<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema etec web</title>
</head>
<body>
        <h1 align="center">Sistema Web</h1>
        <h2 align="center">Lista</h2>
        <h3 align="center"><a href="medicos/listar">Lista de Medicos</a></h3>

        <h3 align="center"><a href="consultas/listar">Lista de consultas</a></h3>

        <h3 align="center"><a href="clientes/listar">Lista de clientes</a></h3>

        <h3 align="center"><a href="medicos/MedConsu.html">Medicos e center</a></h3>
</body>
</html>